In [ ]:
#1.write a code to reverse a string
name="mansi kundu"
name[::-1]

'udnuk isnam'

In [ ]:
#2.write a code to count number of vowels in a string
name="MANSi KUNDu"
for i in name:
  if (i=='a'or i=='e'or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U'):
    print(i)

A
i
U
u

In [ ]:
#3.Write a code to check if a given string is a palindrome or not
string =input("enter the string:")
if string ==string[::-1]:
  print("it is palindrome")
else:
  print("not palindrome")

enter the string:civic
it is palindrome

In [ ]:
#4.Write a code to check if two given strings are anagrams of each other
word1=input("enter the word:")                   #anagram word(silent,listen:race,care)
word2=input("enter the word:")
if(len(word1)==len(word2)):
  word1==sorted(word1)
  word2==sorted(word2)
if(sorted(word1)==sorted(word2)):
   print("words are anagram")
else:
  print("not anagram")

enter the word:silent
enter the word:listen
words are anagram

In [ ]:
#5.Write a code to find all occurrences of a given substring within another string
r = "my name is mansi"
m = "m"
s= [i for i in range(len(r)) if r.startswith(m, i)]
print(s)

[0, 5, 11]

In [ ]:
#6.Write a code to perform basic string compression using the counts of repeated characters

In [ ]:
#7.Write a code to determine if a string has all unique characters
st = "abc"
a=""
for i in st:
    if i not in a:
        a+=i
if(a==st):
    print(True)
else:
    print(False)

True

In [ ]:
#8. Write a code to convert a given string to uppercase or lowercase
s="mansi"
s.upper()

'MANSI'

In [ ]:
d="DATA SCIENCE"
d.lower()

'data science'

In [ ]:
#9. Write a code to count the number of words in a string
s="my name is mansi"
d=len(s.split())
print("number of words",d)

number of words 4

In [ ]:
#10.Write a code to concatenate two strings without using the + operator
name="Mansi Kundu"
age = 20
f"my name is {name} and my age is {age} years"

'my name is Mansi Kundu and my age is 20 years'

In [ ]:
a="mansi"
b="kundu"
print(a,b)

mansi kundu

In [ ]:
#11.Write a code to remove all occurrences of a specific element from a list
colors=["yellow","red","green","yellow","blue","yellow"]
c=colors.count("yellow")
for c in range(c):
     colors.remove("yellow")
print(colors)

['red', 'green', 'blue']

In [ ]:
#12. Implement a code to find the second largest number in a given list of integers
a=[10,40,56,32,93,2,100]
b=list(set(a))
b.sort()
print("second largest number:",b[-2])

second largest number: 93

In [ ]:
#alternate of ques 12
a=[10,40,56,32,93,2,100]
d = list()

for item in a:
    if item not in b:
        b.append(item)
print("second largest number:",b[-2])

second largest number: 93

In [ ]:
#13.Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values
a=[8,6,8,10,8,20,10,8,8] #for occurunce of single element
x=8
d=a.count(x)
print(d)

5

In [ ]:
a=[8,6,8,10,8,20,10,8,8]
[[x,a.count(x)]for x in a]  #for occurence of every element

[[8, 5], [6, 1], [8, 5], [10, 2], [8, 5], [20, 1], [10, 2], [8, 5], [8, 5]]

In [ ]:
a=[8,6,8,10,8,20,10,8,8]
def counts(a):
  d = {}
  for i in a:
    if i in d:
      d [i] += 1
    else:
      d [i] = 1
      print(d)

In [ ]:
#14.Write a code to reverse a list in-place without using any built-in reverse functions
l=["mango","orange",7,8,9,7+7j,True]
l[::-1]

[True, (7+7j), 9, 8, 7, 'orange', 'mango']

In [ ]:
#15.Implement a code to find and remove duplicates from a list while preserving the original order of elements
t = [1, 2, 3, 4, 2, 1, 5, 6, 4]
s = []
for x in t:
    if x not in s:
       s.append(x)
print("Update List:",s)

Update List: [1, 2, 3, 4, 5, 6]

In [ ]:
#alternate of ques 15


a = [1, 2, 3, 4, 2, 1, 5, 6, 4]
d= list(set(a))
print("Update List:", d)

Update List: [1, 2, 3, 4, 5, 6]

In [ ]:
#16.Create a code to check if a given list is sorted (either in ascending or descending order) or not
d=[1,9,5,7,10]
f = 0
if(d==sorted(d)):
  flag = 1
if(d):
  print("yes list is sorted")
else:
  print("not sorted")

yes list is sorted

In [ ]:
#17.Write a code to merge two sorted lists into a single sorted list
a=[1,3,58,34,67]
d=[35,76,90,32,4]
d= sorted(a+d)
print("the combined list",d)

the combined list [1, 3, 4, 32, 34, 35, 58, 67, 76, 90]

In [ ]:
#18.Implement a code to find the intersection of two given lists
s1={23,25,27,29,31}
s2={22,24,26,27,28,29}
s1&s2

{27, 29}

In [ ]:
#19.Create a code to find the union of two lists without duplicates
s1={23,25,27,29,31}
s2={22,24,26,27,28,29}
s1|s2

{22, 23, 24, 25, 26, 27, 28, 29, 31}

In [ ]:
#20.Write a code to shuffle a given list randomly without using any built-in shuffle functions
import random
st = [1, 4, 5, 6, 3]
# using random.shuffle() to shuffle a list
random.shuffle(st)
print(st)

[4, 1, 6, 5, 3]

In [ ]:
#21.Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples
t1=input("enter first tuple:")
t2=input("enter second tuple:")
t3=set(t1)
t4=set(t2)
t5= (t3 & t4)
print(t5)

enter first tuple:2,3,4,mr,r
enter second tuple:4,mr
{'4', 'm', ',', 'r'}

In [ ]:
#22.Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets
s1 = set(input("enter first set:").split(","))
s2 = set(input("enter second set:").split(","))
s1&s2

enter first set:23,mr,4
enter second set:mr,45

{'mr'}

In [ ]:
#23.Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.
t1=input("enter first tuple:")
t2=input("enter second tuple:")
t3 = t1 + t2
print(t3)

enter first tuple:1,2,3,4,
enter second tuple:5,6,788
1,2,3,4,5,6,788

In [ ]:
#24.Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set
s1 = set(input("enter first set of strings:").split(","))
s2 = set(input("enter second set of strings:").split(","))
s1-s2

enter first set of strings:mansi,anjali,alisha
enter second set of strings:anjali,alisha

{'mansi'}

In [ ]:
#25.Create a code that takes a tuple and two integers as input The function should return a new tuple containing elements from the original tuple within the specified range of indices

In [ ]:
#26.Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets
a=set(input("enter first set:").split(","))
b = set(input("enter second set:").split(","))
a|b

enter first set of strings1,2,3
enter second set of strings4,5,6

{'1', '2', '3', '4', '5', '6'}

In [ ]:
#27. Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking
t= tuple(input("enter the tuple:").split(","))
t1=max(t)
t2=min(t)
t4= t1,t2
print(t4)

enter the tuple:1,2,3
('3', '1')

In [ ]:
#28.Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets
s1=s1={21,16,29,2003}
s2={16,29,20,6}
s1&s2 #intersection

{16, 29}

In [ ]:
s1|s2  #union

{6, 16, 20, 21, 29, 2003}

In [ ]:
s1-s2  #difference

{21, 2003}

In [ ]:
s1^s2  #symmetric difference

{6, 20, 21, 2003}

In [ ]:
#29.Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple
t= tuple(input("enter the tuple:").split(","))
r=input("enter the element")
s=t.count(r)
print(s)

enter the tuple:mansi,34,34,5
enter the element34
2

In [ ]:
#30.Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets.
s1={"hiking","reading","coding"}
s2={"coding","photography","travel"}
s1^s2

{'hiking', 'photography', 'reading', 'travel'}

In [ ]:
#31.Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list
words={"apple","apple","orange"}
frequency = {}
for word in words:
        if word in frequency:
            frequency[word] += 1
        else:
            frequency[word] = 1
print(frequency)

{'orange': 1, 'apple': 1}